@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import './header.css';
@import './main.css';
@import './footer.css';

/* --------------------------------------- */
/* Estilo global */
/* --------------------------------------- */

*{
    margin: 0;
    padding: 0;
    /* border: solid red 1px; */
    color: white;
    font-family: "Open Sans", sans-serif;
}

